@model ViewEngineIntegrationTesting.ViewEngines.Razor.UsingHelpers.HelperWithAttr.UsingHelpersWithAttrModel
<h1>@Model.Message</h1>
<p>UsingHelpersWithAttr.cshtml</p>
@helper helperWithAttrWriting(string msg)
    {
    <div>
    @if (true)
    {
        <div>
            @if (true)
            {
                <a href="@msg">rendered by helper: @msg</a>
            }
        </div>
    }
    </div>
}
@helperWithAttrWriting("helperWithAttribute")