@model ViewEngineIntegrationTesting.ViewEngines.Razor.SettingAttributes.View.SettingAttributesModel
<h1>@Model.Message</h1>
<p>SettingAttributes.cshtml</p>

<a href="@Model.Message" class="@Model.Message test">rendered by helper: @Model.Message</a>