@model ViewEngineIntegrationTesting.ViewEngines.Razor.ComplexModel.View.ComplexModelViewModel
<p>ComplexModel.cshtml</p>
This is just a test to see if we can set properties that are null.
<p>@this.Model.TestString</p><p>@this.Model.TestStringThatIsNull</p>